#header {
    background-color: aquamarine;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 2px #70aa90;
}
#header div {
    font-weight: 800;
}